body {
  margin: 0;
  line-height: normal;
}
.company-child,
.icon17 {
  position: absolute;
  top: 0;
  left: 0;
}
.company-child {
  background-color: var(--daabo-black);
  width: 1440px;
  height: 1024px;
}
.icon17 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.daabo6,
.parent4 {
  position: absolute;
  top: 2px;
  left: 35px;
}
.parent4 {
  top: 21px;
  left: 150px;
  width: 109px;
  height: 33px;
  display: none;
}
.unsplashes-aza5s42y-icon,
.unsplasholjk99px0os-icon {
  position: relative;
  border-radius: var(--br-xl) 0 0 0;
  width: 250px;
  height: 258px;
  flex-shrink: 0;
  object-fit: cover;
}
.unsplasholjk99px0os-icon {
  border-radius: 0 var(--br-xl) 0 0;
  width: 262px;
}
.row-12 {
  position: absolute;
  top: 80px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.unsplashi10gxdersls-icon,
.unsplasht6nqz0n3i-k-icon {
  position: relative;
  border-radius: 0 0 0 var(--br-xl);
  width: 196px;
  height: 349px;
  flex-shrink: 0;
  object-fit: cover;
}
.unsplashi10gxdersls-icon {
  border-radius: 0 0 var(--br-xl) 0;
  width: 316px;
}
.image-group,
.row-22 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.row-22 {
  top: 354px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.image-group {
  top: 0;
  width: 540px;
  height: 710px;
}
.daabo-is-a {
  font-weight: 600;
}
.daabo-is-a-word-meaning-to-co,
.span132 {
  display: block;
}
.span132 {
  font-size: var(--font-size-xl);
  color: var(--text-gray-900);
}
.as-daabo-we-want-to-be-a-comp {
  display: block;
  color: var(--sub-text-grey);
}
.description16 {
  margin: 0;
  position: absolute;
  top: 167px;
  left: 593px;
  line-height: 32px;
  display: inline-block;
  width: 547px;
}
.image-group-parent {
  position: absolute;
  top: 824px;
  left: 280px;
  width: 1140px;
  height: 710px;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--daabo-text-black);
  font-family: var(--font-poppins);
}
.mask-group-icon13 {
  position: absolute;
  top: 226px;
  left: 378px;
  width: 223px;
  height: 223px;
  object-fit: cover;
}
.union-icon,
.union-icon1 {
  position: relative;
  width: 51.73px;
  height: 23.3px;
}
.union-icon1 {
  width: 31.73px;
  height: 14.29px;
}
.testimonials-section-child,
.testimonials-section-item {
  position: absolute;
  top: 491.2px;
  left: 0;
  width: 472.16px;
  height: 213.76px;
}
.testimonials-section-item {
  top: 210px;
  left: 506.2px;
}
.testim-child,
.testim-inner,
.testim-item {
  position: absolute;
  top: 108px;
  left: 56px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-2000);
  width: 618px;
  height: 331px;
}
.testim-inner,
.testim-item {
  top: 56px;
  left: 26px;
  width: 678px;
  height: 363px;
}
.testim-inner {
  top: 0;
  left: 0;
  background-color: var(--daabo-black);
  box-shadow: 0 18px 52.85px rgba(215, 228, 249, 0.5);
  width: 730px;
  height: 391px;
}
.icon18 {
  position: absolute;
  top: 162px;
  left: 321.8px;
  width: 94px;
  height: 68px;
  opacity: 0.3;
}
.the-speed-at {
  margin: 0;
  position: absolute;
  top: 106px;
  left: 82px;
  font-size: inherit;
  line-height: 39.5px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 566.17px;
}
.testim {
  position: absolute;
  top: 184px;
  left: 121.2px;
  width: 730px;
  height: 439px;
}
.trusted-by-individuals {
  margin-block-start: 0;
  margin-block-end: 0;
}
.device-retailers-and {
  margin: 0;
}
.trusted-by-individuals-container {
  margin: 0;
  position: absolute;
  top: 0;
  left: 202.2px;
  font-size: var(--font-size-9xl);
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  color: #272d4e;
}
.testimonials-section {
  position: absolute;
  height: 72.16%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 27.84%;
  left: 0;
}
.supported-by-real1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 88px;
  font-size: inherit;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
}
.our-team-of1 {
  margin: 0;
  position: absolute;
  top: 85px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 25px;
  font-weight: 500;
  color: var(--sub-text-grey);
  display: inline-block;
  width: 563px;
  height: 49px;
}
.people-section-container,
.people-section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 563px;
  height: 134px;
}
.people-section-container {
  top: 843px;
  left: 209px;
  font-size: var(--font-size-9xl);
  color: var(--daabo-text-black);
}
.mask-group-parent3 {
  position: absolute;
  top: 2699px;
  left: 360px;
  width: 978.36px;
  height: 977px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--daabo-white);
  font-family: var(--font-poppins);
}
.daabo-device-protection-container {
  margin: 0;
  position: absolute;
  top: 212px;
  left: 487px;
  font-weight: 500;
  display: inline-block;
  width: 718px;
}
.do-insure1 {
  margin: 0;
  position: absolute;
  width: 41.63%;
  top: calc(50% - 350.41px);
  left: 31.48%;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 88px;
}
.group-child73 {
  position: absolute;
  top: 148px;
  left: 130px;
  width: 1626.28px;
  height: 552.83px;
}
.daabo-device-protection-began-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1626.28px;
  height: 700.83px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--daabo-white);
  font-family: var(--font-poppins);
}
.section-child {
  position: absolute;
  top: 0;
  left: 54px;
  width: 1440px;
  height: 832.97px;
}
.section-inner,
.section-item {
  position: absolute;
  top: 357.23px;
  left: 54px;
  width: 106.32px;
  height: 354.32px;
  opacity: 0.3;
}
.section-inner {
  top: 639.39px;
  left: 1314.32px;
  width: 179.68px;
  height: 160.41px;
}
.section-child1,
.section-child2 {
  position: absolute;
  top: 22.23px;
  left: 236px;
  width: 368.51px;
  height: 391.61px;
}
.section-child2 {
  top: 390.23px;
  left: 1222px;
  width: 350.24px;
  height: 213.12px;
}
.daabo-is-developer {
  margin: 0;
  position: absolute;
  top: 90px;
  left: 385px;
  line-height: 30px;
  display: inline-block;
  width: 473px;
  height: 152px;
}
.grow-without-limits-container {
  margin: 0;
  position: absolute;
  top: 0;
  left: 385px;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: inherit;
}
.unsplashigur1ix0mqm-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 342px;
  height: 242px;
  object-fit: cover;
}
.frame-div {
  position: absolute;
  top: 19.77px;
  left: 470px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.daabo-is-developer-friendly-t-parent,
.daabo-is-one {
  position: absolute;
  top: 88.23px;
  left: 486px;
  width: 858px;
  height: 242px;
}
.daabo-is-one {
  margin: 0;
  top: 97px;
  left: 380px;
  line-height: 30px;
  display: inline-block;
  width: 474px;
  height: 140px;
}
.know-our-community-container {
  margin: 0;
  position: absolute;
  top: 0.02px;
  left: 380.25px;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: inherit;
}
.unsplashrg1y72ekw6o-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 342px;
  height: 239px;
  object-fit: cover;
}
.daabo-is-one-of-the-fastest-gr-parent {
  position: absolute;
  top: 504.23px;
  left: 204px;
  width: 854px;
  height: 239px;
}
.group-wrapper6,
.section-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1668.44px;
  height: 832.97px;
}
.group-wrapper6 {
  top: 1700px;
  left: 76px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--daabo-white);
  font-family: var(--font-poppins);
}
.group-parent1 {
  position: absolute;
  top: 294px;
  left: -130px;
  width: 1744.44px;
  height: 3676px;
}
.mask-group-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 48px;
  object-fit: cover;
}
.claims-repairs6,
.for-business6,
.partnership16 {
  position: absolute;
  top: 11px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--daabo-white);
  text-align: left;
}
.claims-repairs6,
.partnership16 {
  top: 9px;
  left: 238px;
}
.partnership16 {
  left: 122px;
}
.group-child74 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--daabo-purple);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  width: 135px;
  height: 45px;
}
.make-a-claim7 {
  position: absolute;
  top: 11px;
  left: 16px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--daabo-white);
  text-align: left;
}
.group-child75,
.rectangle-parent47 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 135px;
  height: 45px;
}
.rectangle-parent47 {
  background-color: transparent;
  left: 770px;
}
.group-child75 {
  background-color: var(--daabo-white);
  left: 0;
  border-radius: var(--br-4xs);
}
.log-in6 {
  position: absolute;
  top: 11px;
  left: 45px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--daabo-purple);
  text-align: left;
}
.rectangle-parent48 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 940px;
  width: 135px;
  height: 45px;
}
.for-business-parent3 {
  position: absolute;
  top: 4px;
  left: 156px;
  width: 1075px;
  height: 45px;
}
.group-child76,
.mask-group-parent4 {
  position: absolute;
  top: 21px;
  left: 105px;
  width: 1231px;
  height: 49px;
}
.group-child76 {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 1624px;
}
.innovative-companies-use6 {
  position: absolute;
  top: 489px;
  left: 293px;
  display: inline-block;
  font-family: var(--font-work-sans);
  text-align: center;
  width: 798px;
}
.available-on-web6,
.daabo-provides-device7 {
  position: absolute;
  top: 606px;
  left: 294px;
  font-size: var(--body-body-1-size);
  font-weight: 500;
  color: var(--sub-text-grey);
}
.available-on-web6 {
  top: 1187px;
  left: 189px;
  font-size: var(--font-size-xl);
}
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 201px;
  left: 323px;
  font-family: var(--font-work-sans);
}
.group-child77 {
  position: absolute;
  top: 281px;
  left: 693px;
  border-top: 4px solid var(--daabo-purple);
  box-sizing: border-box;
  width: 127px;
  height: 4px;
}
.company14 {
  font-weight: 500;
}
.company13 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--daabo-white);
}
.about-company-press-container6 {
  position: absolute;
  top: 0;
  left: 207px;
  line-height: 200.5%;
  color: var(--sub-text-grey);
}
.support20 {
  color: var(--sub-text-grey);
}
.support19 {
  font-family: var(--font-poppins);
}
.support-help-terms-container5 {
  position: absolute;
  top: 0;
  left: 378px;
  line-height: 200%;
}
.protection-business-partnershi-container5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 200%;
  color: var(--sub-text-grey);
}
.contact-salesgetdaabocom-sup-container6,
.follow-twitter-linkedin-container6 {
  position: absolute;
  top: 5px;
  left: 554px;
  line-height: 200%;
}
.contact-salesgetdaabocom-sup-container6 {
  left: 686px;
}
.about-company-press-resources-parent4 {
  position: absolute;
  top: 839px;
  left: 256px;
  width: 903px;
  height: 180px;
  font-size: var(--font-size-xl);
}
.daabo-is-an6 {
  position: absolute;
  top: 1317px;
  left: 189px;
  font-size: var(--label-small-label-size);
  font-weight: 500;
  display: inline-block;
  width: 1027px;
}
.mask-group-icon15 {
  position: absolute;
  top: 1119px;
  left: 189px;
  width: 128px;
  height: 48px;
  object-fit: cover;
}
.group-child78 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--daabo-text-black);
  width: 87px;
  height: 42px;
}
.ciapple-icon6 {
  position: absolute;
  top: 9px;
  left: 21px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.ios6 {
  position: absolute;
  top: 13px;
  left: 46px;
  font-weight: 500;
}
.rectangle-parent50 {
  position: absolute;
  top: 1230px;
  left: 189px;
  width: 87px;
  height: 42px;
  font-size: var(--label-small-label-size);
}
.group-child79 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--daabo-text-black);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  width: 102px;
  height: 42px;
}
.andriod6 {
  position: absolute;
  top: 13px;
  left: 40px;
  font-size: var(--label-small-label-size);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--daabo-white);
  text-align: left;
}
.icomoon-freeandroid-icon6 {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.rectangle-parent51 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1229px;
  left: 307px;
  width: 102px;
  height: 42px;
}
.bodds-support-logo4,
.universal-logo-bw-removebg-pre-icon4 {
  position: absolute;
  top: 0;
  left: 759px;
  width: 170px;
  height: 43px;
  object-fit: cover;
}
.bodds-support-logo4 {
  left: 979px;
  width: 64px;
  height: 57px;
}
.icon19,
.icon20,
.untitled-design-2-14,
.untitled-design-removebg-previ-icon4 {
  position: absolute;
  top: 0;
  left: 597px;
  width: 112px;
  height: 43px;
  object-fit: cover;
}
.icon19,
.icon20,
.untitled-design-2-14 {
  left: 419px;
  width: 128px;
}
.icon20,
.untitled-design-2-14 {
  left: 219px;
  width: 150px;
}
.untitled-design-2-14 {
  left: 0;
  width: 169px;
}
.group-child80,
.universal-logo-bw-removebg-pre-parent2 {
  position: absolute;
  top: 354px;
  left: 209px;
  width: 1043px;
  height: 57px;
}
.group-child80 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--daabo-purple);
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  width: 260px;
  height: 45px;
}
.get-started5 {
  position: absolute;
  top: 11px;
  left: 60.24px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--daabo-white);
  text-align: center;
  display: inline-block;
  width: 139.51px;
}
.rectangle-parent52 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 670px;
  left: 579px;
  width: 260px;
  height: 45px;
}
.iclabel-removebg-preview-1-icon6,
.iclabel-removebg-preview-2-icon6 {
  position: absolute;
  top: 1223px;
  left: 702px;
  width: 6px;
  height: 6px;
  object-fit: cover;
}
.iclabel-removebg-preview-2-icon6 {
  top: 1187px;
  left: 1063px;
  width: 118px;
  height: 85px;
}
.rectangle-parent49 {
  position: absolute;
  top: 4060px;
  left: 0;
  width: 1440px;
  height: 1624px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--daabo-white);
  font-family: var(--font-poppins);
}
.company12 {
  position: relative;
  background-color: var(--daabo-white);
  width: 100%;
  height: 5494px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--default-white);
  font-family: var(--font-merriweather);
}
